<!-- Head bar -->
<div class="nav-bar">
    <div style="display: flex; align-items: center; gap: 15px;">
        <div class="profile">
            <img src="{{ media_url }}{{ salon_manager.profile_image }}" alt="{{ salon_manager.user.name }} {{ salon_manager.user.family }}" class="profile-img" />
        </div>
        <div class="notification-icon">
            <i class="fas fa-bell"></i>
        </div>
    </div>
    <div class="search-icon">
        <i class="fas fa-search"></i>
    </div>
</div>