/* Gandom-Font */
@font-face {
  font-family: 'Gandom';
  src: url('Gandom/fonts/Gandom.ttf') format('ttf'), url('Gandom/fonts/Gandom.woff') format('woff'),
    url('Gandom/fonts/Gandom.eot') format('eot');
}

html {
  direction: rtl;
  font: 'Gandom', sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 16px/1.5 'Gandom', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.divider {
  border: none;
  border-top: 1px solid #9e9d9d;
  margin: 0 auto;
  width: 75%;
}

/* ===================== Nvbar ===================== */
/* Navbar  */
.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.bottom-navbar a {
  text-decoration: none;
  color: #555;
  font-size: 18px;
  text-align: center;
}

.bottom-navbar a:hover {
  color: #d971e7;
}

/* ========================================= */
/* Service Group  */
.serviceGroup-container {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.serviceGroup-container h2 {
  font-size: 22px;
  margin-bottom: 12px;
  text-align: right;
}

.serviceGroup-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.serviceGroup-card {
  position: relative;
  width: 180px;
  height: 100px;
  border: none;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.serviceGroup-card:hover {
  transform: scale(1.05);
}

.serviceGroup-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.serviceGroup-card span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 6px;
}

@media (max-width: 600px) {
  .serviceGroup-container {
    max-width: 350px;
  }

  .serviceGroup-grid {
    gap: 6px;
  }

  .serviceGroup-card {
    width: 160px;
    height: 90px;
  }

  .serviceGroup-card span {
    font-size: 12px;
    padding: 3px 6px;
  }
}

@media (max-width: 400px) {
  .serviceGroup-container {
    max-width: 300px;
  }

  .serviceGroup-grid {
    gap: 4px;
  }

  .serviceGroup-card {
    width: 140px;
    height: 80px;
  }

  .serviceGroup-card span {
    font-size: 11px;
    padding: 2px 5px;
  }
}

/* ======================================================= */
/* Salons Card */

.salons-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-top: 10px;
  transition: transform 0.3s ease;
}

.salons-card:hover {
  transform: translateY(-5px);
}

.salons-card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.salons-card-details {
  padding: 15px;
  direction: rtl;
}

.salons-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salons-card-discount {
  background-color: #ff4d4d;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 55%;
}

.salons-card-address {
  font-size: 14px;
  color: #666;
  margin: 8px 0;
}

.salons-card-body p {
  margin: 5px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.salons-card-body p i {
  font-size: 24px;
}

.salons-card-body p i.fa-location-dot {
  color: #007bff;
}

.salons-card-body p i.fa-star {
  color: #ffc107;
}

.salons-card-body p i.fa-location-dot {
  font-size: 20px;
  color: #07a0ff;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
